<a href="https://colab.research.google.com/github/RajeevReddy-123/Rajeev_INFO5731_-Fall2021/blob/main/Lattupally_INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# ** Rajeev Reddy Lattupally**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Generating 12 random numbers between 1 and 100.
import random 
random_List=[]
for x in range(12):
  Generated_number= random.randint(1,100)
  random_List.append(Generated_number)
  print("The randomly generated number between 1 to 100 is :", Generated_number)

The randomly generated number between 1 to 100 is : 96
The randomly generated number between 1 to 100 is : 64
The randomly generated number between 1 to 100 is : 5
The randomly generated number between 1 to 100 is : 31
The randomly generated number between 1 to 100 is : 25
The randomly generated number between 1 to 100 is : 34
The randomly generated number between 1 to 100 is : 18
The randomly generated number between 1 to 100 is : 87
The randomly generated number between 1 to 100 is : 20
The randomly generated number between 1 to 100 is : 35
The randomly generated number between 1 to 100 is : 87
The randomly generated number between 1 to 100 is : 27

In [ ]:
  # Sorting the list in ascending order
random_List.sort()
print(" The List in Ascending Order:", random_List)

 The List in Ascending Order: [5, 18, 20, 25, 27, 31, 34, 35, 64, 87, 87, 96]

In [ ]:
# Sorting the list in descending order
random_List.sort(reverse=True)
print(" The List in Descending Order:", random_List)

 The List in Descending Order: [96, 87, 87, 64, 35, 34, 31, 27, 25, 20, 18, 5]

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
# (1) Ask the user to enter two sentences.
A = input("Enter the first string: ")
B = input("Enter the second string: ")

Enter the first string: "Alias! Am I alive?
Enter the second string: This is my first python progran"

In [ ]:
#(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].
import re
a = re.findall(r"[\w']+|[.,!?;:]", A)
b = re.findall(r"[\w']+|[.,!?;:]", B)

print("The First sentence element in the list :",a)
print("The Second  sentence element in the list:",b)

The First sentence element in the list : ['Alias', '!', 'Am', 'I', 'alive', '?']
The Second  sentence element in the list: ['This', 'is', 'my', 'first', 'python', 'progran']

In [ ]:
#(3) Compare the two sentences. Print out a list of words that occur in both sentences.
for Word in a:
  for different in b:
    if Word.lower() == different.lower():
      print(Word)
print("list of words that occur in both senetnces:", Word)

list of words that occur in both senetnces: ?

In [ ]:
#(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)
for Word in a:
  for different in b:
    if Word.lower() == different.lower() and Word not in string.punctuation:
      print(Word)
print("list of words  punctuation that are removed from the sentence in both senetnces:", Word)

list of words  punctuation that are removed from the sentence in both senetnces: ?

In [ ]:
#(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc
Number_Vowels = {'a':0, 'e':0, 'i':0, 'o':0, 'u':0}
for letter in A:
  if letter.lower() in Number_Vowels:
    Number_Vowels[letter.lower()] += 1
print("The count of number of Vowels in the sentence are: ",Number_Vowels)

The count of number of Vowels in the sentence are:  {'a': 4, 'e': 1, 'i': 3, 'o': 0, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Firstly printing the r and v columns
print("r   v")
for r in range(1,11):
  V= 4/3*3.14*r*r*r # here Pi value is 3.14
  print(r,  V)

r   v
1 4.1866666666666665
2 33.49333333333333
3 113.03999999999998
4 267.94666666666666
5 523.3333333333334
6 904.3199999999998
7 1436.0266666666666
8 2143.5733333333333
9 3052.08
10 4186.666666666667

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# (1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.
import pandas as pd
Housing_data= pd.read_csv("/content/drive/MyDrive/Rajiv /Assignment1_denton_housing.csv")
print(Housing_data.head(5))

Occupied_Houses = Housing_data[Housing_data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
print(Occupied_Houses)

difference_houses = [list(Occupied_Houses['value'].values)[loop1] - list(Occupied_Houses['value'].values)[loop1+1]
                     for loop1 in range(len(Occupied_Houses)-1)]
difference_houses. sort()   
print(" The List in Ascending Order:", difference_houses)

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215
    year             title_field  value
20  2008  Occupied Housing Units  36711
17  2009  Occupied Housing Units  35916
14  2010  Occupied Housing Units  41007
11  2011  Occupied Housing Units  40704
8   2012  Occupied Housing Units  42108
5   2013  Occupied Housing Units  43673
2   2014  Occupied Housing Units  46295
 The List in Ascending Order: [-5091, -2622, -1565, -1404, 303, 795]

In [ ]:
#(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format: Year Vacant Housing Units Occupied Housing Units
unique_years = sorted(list(Housing_data['year'].unique()))   

# number of vacant houses
Vacant_houses = Housing_data[Housing_data['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])

Housing_data_new = pd.DataFrame()
Housing_data_new['year'] = unique_years
Housing_data_new['Vacant House'] = Vacant_houses['value'].values
Housing_data_new['Occupied House'] = Occupied_Houses['value'].values
Housing_data_new['Percent of Vacant House Units'] = [(Housing_data_new['Vacant House'][loop1] * 100) /\
                                           (Housing_data_new['Vacant House'][loop1] + Housing_data_new['Occupied House'][loop1])\
                                           for loop1 in range(len(Housing_data_new))]
Housing_data_new['Percent of Occupied House Units'] = [(Housing_data_new['Occupied House'][loop1] * 100) /\
                                           (Housing_data_new['Vacant House'][loop1] + Housing_data_new['Occupied House'][loop1])\
                                           for loop1 in range(len(Housing_data_new))]
Housing_data_new
print(Housing_data_new[['year','Percent of Vacant House Units', 'Percent of Occupied House Units']])

   year  Percent of Vacant House Units  Percent of Occupied House Units
0  2008                      10.882653                        89.117347
1  2009                       9.071116                        90.928884
2  2010                       8.142556                        91.857444
3  2011                       9.379522                        90.620478
4  2012                       6.677600                        93.322400
5  2013                       8.801788                        91.198212
6  2014                       5.730111                        94.269889

In [ ]:
#(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:

#the highest number of vacant housing units
highest_vacant_houses = max(Housing_data[Housing_data['title_field'] == 'Vacant Housing Units'].value)
Vacant_houses = Vacant_houses[Vacant_houses['value'] == highest_vacant_houses]
print(Vacant_houses)
print("-----------------------------------------------")
# the highest number of Occupied housing units
highest_Occupied_houses = max(Housing_data[Housing_data['title_field'] == 'Occupied Housing Units'].value)
Occupied_Houses = Occupied_Houses[Occupied_Houses['value'] == highest_Occupied_houses]
print(Occupied_Houses)

    year           title_field  value
19  2008  Vacant Housing Units   4483
-----------------------------------------------
   year             title_field  value
2  2014  Occupied Housing Units  46295

In [ ]:
#(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here:
import statistics
print(statistics.harmonic_mean(list(Housing_data[Housing_data['title_field'] == 'Total Housing Units'].value)))

44398.28543969185